
.main-header{
    padding: 30px;
    text-align: center;
    position: relative;
    background-color: rgba(174, 174, 174, 0.5960784314);
    font-size: 30px;
    font-weight: bold;
}
.head-infor{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.head-text{
    width: 80%;
}
.main-infor{
    display: flex;
    justify-content: center;
}
.infor-text{
    padding:10px;
    padding-left: 40px;
}
.infor-img{
    width: 394px;
    height: 272px;
}
.main-detail{
    padding:10px
}
.button{
    margin: 15px 15px;
    width: 255px;
    height: 120px;
    padding: 15px ;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.detail-border1{
    background-color: #FFF6C8;
}
.detail-border2{
    background-color: #D7EEFF;
}
.detail-border3{
    background-color: #D6FCD7;
}
.detail-border4{
    background-color: #F5EBEA;
}
.detail-first{
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    color: black;
}
.text-black{
    color: black;
}
.detail-data{
    padding-top: 10px;
    
}
.detail-data a {
    font-size: 40px;
    text-decoration: none;
    color:black;
}
.font-size-20{
    font-size: 20px;
}

.list-head{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.table-list{
    padding: 20px 40px;
    display: block;    
}
.table-head{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
    background-color: #D9D9D9;

    
}
.table-head p{
    font-size:15px;
}
.table-data p{
    font-size:15px;
}
.text-data{
    width:16%;
    padding:10px 0px;
    text-align: center;
}
.check-box{
    width: 2%;
    margin: 0px 15px;
}
.table-data{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    border: 1px solid;
}
.table-data a{
    color:black;
    text-decoration: dashed;
    padding:10px 0px;
    font-size: 15px;
}
