<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./navbar_admin_layout.css">
    <link rel="stylesheet" href="./complant.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./navbar_admin_layout.js"></script>
    <title>Navbar</title>
</head>
<body>
    <div class="main">
        <div class="main__navbar">
            <div class="main__navbar--itemlogo">
                <div class="logo__img">
                    <img src="" alt="">
                </div>
                <div class="logo__homelink">
                    <a href="#">
                        Admin name
                    </a>
                </div>
            </div>
            <div class="main__navbar--item">
                <div class="item__linkpage">
                    <a href="">Home</a>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Account management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">
                                test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Financial management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Resident management and payments</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Personnel management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Asset management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Contract management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Complaint management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Repair requests management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemlogout">
                <div class="itemlogout__btn">
                    <a href="">Logout</a>
                </div>
            </div>
            


        </div>
        <div class="main__responebtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="main__body">
            <div class="main__body--itemtitle">
                <div class="itemtitle__item">
                    <p>LIST OF COMPLAINTS</p>
                </div>
            </div>
            <div class="main__body--itemsearch">
                <div class="itemsearch__input">
                    <div class="itemsearch__input--title">
                        <p>search:</p>
                    </div>
                    <div class="itemsearch__input--item">
                        <input type="text">
                    </div>
                </div>
                <div class="itemsearch__input">
                    <div class="itemsearch__input--title">
                        <p>Select status</p>
                    </div>
                    <div class="itemsearch__input--item">
                        <select>
                            <option value="test 1">test 1</option>
                            <option value="test 2">test 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="main__body--itemtable">
                <div class="itemtable__title">
                    <div class="itemtable__title--item">
                        <p>Name user</p>  
                    </div>
                    <div class="itemtable__title--item">
                        <p>Comlant status</p>  
                    </div>
                    <div class="itemtable__title--item">
                        <p>Complaint status</p>  
                    </div>
                    <div class="itemtable__title--item">
                        <p>expected complant</p>  
                    </div>
                    <div class="itemtable__title--item">
                        <p>Complant of content</p>  
                    </div>
                </div>
                <div class="itemtable__item">
                    <div class="itemtable__item--item">
                        <a href="#">Name user 1
                            <span></span>
                            <span></span>
                        </a> 
                    </div>
                    <div class="itemtable__item--item">
                        <p>Comlant status</p>  
                    </div>
                    <div class="itemtable__item--item">
                        <p>Complaint status</p>  
                    </div>
                    <div class="itemtable__item--item">
                        <p>expected complant</p>  
                    </div>
                    <div class="itemtable__item--item">
                        <p>Complant of content</p>  
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</body>
</html>