.main__body .main__body--staff {
  position: relative;
}
.main__body .main__body--staff .staff__title {
  width: 100%;
  text-align: center;
  background-color: #747373;
}
.main__body .main__body--staff .staff__title p {
  font-size: 25px;
  padding: 20px 0px;
  font-weight: bold;
}
.main__body .main__body--staff .staff__search {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #747373;
}
.main__body .main__body--staff .staff__search .staff__search--item {
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.main__body .main__body--staff .staff__search .staff__search--item .item__title {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__body .main__body--staff .staff__search .staff__search--item .item__title p {
  font-size: 20px;
}
.main__body .main__body--staff .staff__search .staff__search--item .item__input {
  width: 80%;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__body .main__body--staff .staff__search .staff__search--item .item__input input {
  width: 50%;
  font-size: 15px;
  padding: 5px 10px;
}
.main__body .main__body--staff .staff__search .staff__search--item .item__input select {
  width: 30%;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
}
.main__body .main__body--staff .staff__table {
  width: 90%;
  margin: 100px auto;
  overflow: scroll;
  height: 500px;
  border: 1px solid black;
}
.main__body .main__body--staff .staff__table .staff__table--title {
  width: 2400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #747373;
}
.main__body .main__body--staff .staff__table .staff__table--title .title__item {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 20px 0px;
}
.main__body .main__body--staff .staff__table .staff__table--title .title__item p {
  font-size: 20px;
}
.main__body .main__body--staff .staff__table .staff__table--item {
  width: 2400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.main__body .main__body--staff .staff__table .staff__table--btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #747373;
  position: sticky;
  bottom: 0px;
  padding: 10px 0px;
}
.main__body .main__body--staff .staff__table .staff__table--btn button{
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 100000px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
.main__body .main__body--staff .staff__table .staff__table--item .item__item {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #747373;
  padding: 20px 0px;
  margin-top: 10px;
}
.main__body .main__body--staff .staff__table .staff__table--item .item__item p {
  cursor: pointer;
  font-size: 15px;
}
.main__body .main__body--staff .staff__detail {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000000000000000;
}
.main__body .main__body--staff .staff__detail .staff__detail--item {
  width: 500px;
  height: auto;
  justify-content: space-between;
  background-color: #747373;
  border: 1px solid black;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__title {
  margin-top: 30px;
  text-align: center;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__title p {
  font-size: 25px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__detail {
  width: 100%;
  margin-top: 30px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__detail .item__detail--input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__detail .item__detail--input .input__title {
  width: 30%;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__detail .item__detail--input .input__title p {
  font-size: 20px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__detail .item__detail--input .input__item {
  width: 70%;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__detail .item__detail--input .input__item input {
  width: 80%;
  padding: 4px 0px;
  font-size: 15px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__detail .item__detail--input .input__item select {
  width: 50%;
  font-size: 15px;
  padding: 4px 0px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__btn .item__btn--item {
  padding: 20px 0px;
}
.main__body .main__body--staff .staff__detail .staff__detail--item .item__btn .item__btn--item button {
  padding: 10px 20px;
}

/*# sourceMappingURL=staff.css.map */
