<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./navbar_admin_layout.css">
    <link rel="stylesheet" href="./staff.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./navbar_admin_layout.js"></script>
    <title>Navbar</title>
</head>
<body>
    <div class="main">
        <div class="main__navbar">
            
            <div class="main__navbar--itemlogo">
                <div class="logo__img">
                    <img src="" alt="">
                </div>
                <div class="logo__homelink">
                    <a href="#">
                        Admin name
                    </a>
                </div>
            </div>
            <div class="main__navbar--item">
                <div class="item__linkpage">
                    <a href="">Home</a>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Account management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">
                                test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Financial management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Resident management and payments</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Personnel management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Asset management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Contract management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Complaint management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Repair requests management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemlogout">
                <div class="itemlogout__btn">
                    <a href="">Logout</a>
                </div>
            </div>
            


        </div>
        <div class="main__responebtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="main__body">
            <div class="main__body--staff">
                <div class="staff__title">
                    <p>LIST OF STAFFS</p>
                </div>
                <div class="staff__search">
                    <div class="staff__search--item">
                        <div class="item__title">
                            <p>search</p>
                        </div>
                        <div class="item__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="staff__search--item">
                        <div class="item__title">
                            <p>status</p>
                        </div>
                        <div class="item__input">
                            <select>
                                <option value="test 1">test 1</option>
                                <option value="test 2">test 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="staff__table">
                    <div class="staff__table--title">
                        <div class="title__item">
                            <p>Name</p>
                        </div>
                        <div class="title__item">
                            <p>Role</p>
                        </div>
                        <div class="title__item">
                            <p>status_</p>
                        </div>
                        <div class="title__item">
                            <p>Detail</p>
                        </div>
                    </div>
                    <div class="staff__table--item">
                        <div class="item__item">
                            <p>Name 1</p>
                        </div>
                        <div class="item__item">
                            <p>Role 1</p>
                        </div>
                        <div class="item__item">
                            <p>status_ 1</p>
                        </div>
                        <div class="item__item">
                            <p>Detail 1</p>
                        </div>
                    </div>
                    <div class="staff__table--item">
                        <div class="item__item">
                            <p>Name 1</p>
                        </div>
                        <div class="item__item">
                            <p>Role 1</p>
                        </div>
                        <div class="item__item">
                            <p>status_ 1</p>
                        </div>
                        <div class="item__item">
                            <p>Detail 1</p>
                        </div>
                    </div>
                    <div class="staff__table--item">
                        <div class="item__item">
                            <p>Name 1</p>
                        </div>
                        <div class="item__item">
                            <p>Role 1</p>
                        </div>
                        <div class="item__item">
                            <p>status_ 1</p>
                        </div>
                        <div class="item__item">
                            <p>Detail 1</p>
                        </div>
                    </div>
                    <div class="staff__table--item">
                        <div class="item__item">
                            <p>Name 1</p>
                        </div>
                        <div class="item__item">
                            <p>Role 1</p>
                        </div>
                        <div class="item__item">
                            <p>status_ 1</p>
                        </div>
                        <div class="item__item">
                            <p>Detail 1</p>
                        </div>
                    </div>
                    <div class="staff__table--item">
                        <div class="item__item">
                            <p>Name 1</p>
                        </div>
                        <div class="item__item">
                            <p>Role 1</p>
                        </div>
                        <div class="item__item">
                            <p>status_ 1</p>
                        </div>
                        <div class="item__item">
                            <p>Detail 1</p>
                        </div>
                    </div>
                    <div class="staff__table--item">
                        <div class="item__item">
                            <p>Name 1</p>
                        </div>
                        <div class="item__item">
                            <p>Role 1</p>
                        </div>
                        <div class="item__item">
                            <p>status_ 1</p>
                        </div>
                        <div class="item__item">
                            <p>Detail 1</p>
                        </div>
                    </div>
                    <div class="staff__table--item">
                        <div class="item__item">
                            <p>Name 1</p>
                        </div>
                        <div class="item__item">
                            <p>Role 1</p>
                        </div>
                        <div class="item__item">
                            <p>status_ 1</p>
                        </div>
                        <div class="item__item">
                            <p>Detail 1</p>
                        </div>
                    </div>
                </div>
                <div class="staff__detail">
                    <div class="staff__detail--item">
                        <div class="item__title">
                            <p>Staff detail</p>
                        </div>
                        <div class="item__detail">
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Name</p>
                                </div>
                                <div class="input__item">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Phone</p>
                                </div>
                                <div class="input__item">
                                    <input type="number">
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Role</p>
                                </div>
                                <div class="input__item">
                                    <select>
                                        <option value="test 1">test 1</option>
                                        <option value="test 2">test 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Password</p>
                                </div>
                                <div class="input__item">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Gender</p>
                                </div>
                                <div class="input__item">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Start day</p>
                                </div>
                                <div class="input__item">
                                    <input type="datetime-local">
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>End day</p>
                                </div>
                                <div class="input__item">
                                    <input type="datetime-local">
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Status</p>
                                </div>
                                <div class="input__item">
                                    <select>
                                        <option value="test 1">test 1</option>
                                        <option value="test 2">test 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item__detail--input">
                                <div class="input__title">
                                    <p>Address</p>
                                </div>
                                <div class="input__item">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="item__btn">
                            <div class="item__btn--item">
                                <button>Add</button>
                            </div>
                            <div class="item__btn--item">
                                <button>Delete</button>
                            </div>
                            <div class="item__btn--item">
                                <button>Update</button>
                            </div>
                            <div class="item__btn--item">
                                <button>Closs</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</body>
</html>