{% extends "app/Base.html" %}
{% load static %}

{% block main__body %}
<div class="main-header">
    <p> Apartment Management In The United States </p>
</div>
<div class="head-infor">
    Technical System Management
</div>
<div class="search__func">
    <div class="labels">
        <label>Select Type</label>
        <select class="form-select" id="system" onchange="filterData()">
            <option value="">All</option>
        </select>
    </div>
    <div class="labels">
        <label>Select status</label>
        <select class="form-select" id="status" onchange="filterData()">
            <option value="">All</option>
        </select>
    </div>
</div>
<div class="search__but">
    <div></div>
    <input type="text" placeholder="Search" id="searchInput" onkeyup="searchByName()">
</div>
<div class="table-list">
    <div class="table-head">
        <p class="text-data">System</p>
        <p class="text-data">Location</p>
        <p class="text-data">Status</p>
        <p class="text-data">Nearest Maintenance</p>
        <p class="text-data">Next Maintenance</p>
        <p class="text-data">Details</p>
    </div>
    <div id="maintenanceTable">
        <!--Data-->
    </div>
    <div class="add_but">
        <input class="" type="button" value="Add" onclick="showAddForm()">
    </div>
    
</div>
<div id="descriptionModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <div class="head-infor">
            DETAILS OF SYSTEM CONDITION
        </div>
        <div>
            <p class="infor-text">System ID: <span id="equipment_name"></span></p>
            <p class="infor-text">System name: <span id="equipment_id"></span></p>
            <p class="infor-text">Location: <span id="location"></span></p>
            <p class="infor-text">Status: <span id="status_"></span></p>
            <p class="infor-text">Nearest maintenance: <span id="nearest_maintenance"></span></p>
            <p class="infor-text">Next maintenance: <span id="next_maintenance"></span></p>
            <p class="infor-text">Maintenance task: <span id="maintenance_task"></span></p>
            <p class="infor-text">Description: <span id="description"></span></p>
            <div class="list-head">
                
            </div>
            <ul id="maintenanceHistory">
                
            </ul>
        </div>
    </div>
</div>

<div id="formContainer" style="display: none;">
    
</div>
{% endblock main__body%}
