.labels{
    padding:10px 20px;
    display:flex;
    width: 50%;
    font-size: 18px;
}
.search__func{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}
.form-select{
    border-radius: 5px;
    background-color: #D9D9D9;  
    padding-left: 10px;
    margin-left: 10px;
    font-size: 15px;
    width: 50%;
}
.search__but{
    padding: 10px 0px;
    width:100%;
    display: flex;
    justify-content: space-around;
    color: #D9D9D9;
    font-size: 20px;
}
.search__but input{
    padding:5px;
    border-radius: 5px;
    background-color:#D9D9D9 ;
    width: 350px;
}
.add_but{
    padding: 10px 0px;
    text-align: center;
}
.table-head .text-data input{
    width: 50px;
}
.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed;
    z-index: 1000; /* Hiển thị modal trên các thành phần khác */
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%); /* Căn giữa modal */
    width: 80%; /* Chiều rộng modal, điều chỉnh theo ý muốn */
    max-width: 100%; /* Chiều rộng tối đa */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    color: black;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}