.form__login{
    display: flex;
    flex-direction: column;
}
.form__login .form__login--phone{
    width: 100%;
    max-width: 200px;
    font-size: 15px;
    padding: 4px 20px;
}
.form__login .form__login--password{
    width: 100%;
    max-width: 200px;
    font-size: 15px;
    padding: 4px 20px;
}
.form__login .form__login--notication{
    font-size: 13px;
    color: red;
    padding: 4px 20px;
}
.form__login button{
    width: 100px;
    height: 30px;
}