.main__body--itemtitle {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(116, 115, 115, 0.5490196078);
}
.main__body--itemtitle p {
  padding: 15px 0px;
  font-size: 25px;
}
.main__body--itemdetail {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-top: 50px;
  padding: 0px 20px;
}
.main__body--itemdetail .itemdetail__item {
  width: 100%;
}
.main__body--itemdetail .itemdetail__item--input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__body--itemdetail .itemdetail__item--input .input__title {
  width: 30%;
}
.main__body--itemdetail .itemdetail__item--input .input__title p {
  padding: 10px 0px;
  font-size: 20px;
}
.main__body--itemdetail .itemdetail__item--input .input__item {
  width: 70%;
  display: flex;
  align-items: center;
  justify-self: center;
}
.main__body--itemdetail .itemdetail__item--input .input__item input {
  width: 100%;
  max-width: 100%;
  padding: 5px 0px;
  font-size: 15px;
}
.main__body--itemdetail .itemdetail__item--input .input__item select {
  width: 50%;
  padding: 5px 0px;
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .main__body--itemdetail .itemdetail__item--input .input__title p {
    font-size: 15px;
  }
  .main__body--itemdetail .itemdetail__item--input .input__item input {
    font-size: 15px;
  }
  .main__body--itemdetail .itemdetail__item--input .input__item select {
    font-size: 15px;
  }
}
.main__body--itemdeription {
  width: 90%;
  margin: 50px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: rgba(116, 115, 115, 0.5490196078);
  padding: 10px 20px;
}
.main__body--itemdeription .itemdeription__title p {
  font-size: 15px;
  padding: 10px 0px;
}
.main__body--itemdeription .itemdeription__item p {
  font-size: 15px;
  padding: 10px 0px;
  line-height: 25px;
}
.main__body--itemassignstaff {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__body--itemassignstaff .itemassignstaff__title {
  width: 20%;
}
.main__body--itemassignstaff .itemassignstaff__title p {
  padding: 15px 0px;
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  .main__body--itemassignstaff .itemassignstaff__title p {
    font-size: 15px;
  }
}
.main__body--itemassignstaff .itemassignstaff__item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__body--itemassignstaff .itemassignstaff__item select {
  width: 80%;
  font-size: 15px;
  padding: 5px 0px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .main__body--itemassignstaff .itemassignstaff__item select {
    font-size: 15px;
  }
}
.main__body--itemassignstaff .itemassignstaff__btn {
  width: 30%;
}
.main__body--itemassignstaff .itemassignstaff__btn button {
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(116, 115, 115, 0.5490196078);
  border: 1px solid black;
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  .main__body--itemassignstaff .itemassignstaff__btn button {
    font-size: 15px;
  }
}
.main__body--itemupdate {
  position: relative;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__body--itemupdate .itemupdate__btn button {
  width: 100px;
  height: 50px;
  background-color: rgba(116, 115, 115, 0.5490196078);
  border: 1px solid black;
  font-size: 15px;
}

/*# sourceMappingURL=complantDetail.css.map */
