<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/jq.js"></script>
    <script src="./js/loginjs.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="login__page">
        <div class="login__page--item">
            <div class="item__left">
                <div class="item__left--tile_1">
                    <p>Lorem, ipsum dolor,Lorem</p>
                </div>
                <div class="item__left--tile_2">
                    <p>Lorem ipsum dolor </p>
                </div>
                <form action="" class="item__left--loginform">
                    <div class="item__left--loginform__tile">
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="item__left--loginform__email">
                        <input type="text" >
                        <label for="">test</label>
                    </div>
                    <div class="item__left--loginform__pw">
                        <input type="text" >
                        <label for="">test</label>
                    </div>
                    <div class="item__left--loginform__settingpw">
                        <div class="remember">
                            <input type="radio">
                            <p>Lorem ipsum dolor</p>
                        </div>
                        <div class="forgot">
                            <a href="">Lorem ipsum dolor</a>
                        </div>
                    </div>
                    <div class="item__left--loginform__btn">
                        <div class="item__left--loginform__btn--link">
                            <a href="">login</a>
                        </div>
                        <div class="item__left--loginform__btn--link">
                            <a href="">Sigup</a>
                        </div>
                    </div>

                </form>
                <div class="item__left--logins">
                    <div class="text">
                        <p href="">or login width</p>
                    </div>
                    <div class="link">
                        <a href="">Face book</a>
                        <a href="">instagram</a>
                        <a href="">github</a>
                    </div>
                </div>
            </div>
            <div class="item__right">
                <div class="item__right--img">
                    <img src="./img/clip-message-sent 1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="m"></div>
</body>
</html>