$sixe_text_1 : 30px;
$sixe_text_2 : 25px;
$sixe_text_3 : 20px;
$sixe_text_4 : 15px;
$color_back_gr:#747373;
.main{
    &__body{
        padding: 0px 20px;
        &--itemtitle_1{
            background-color: $color_back_gr;
            padding: 20px 0px;
            text-align: center;
            p{
                font-size: $sixe_text_1;
                font-weight: bold;
            }
        }
        &--itemtitle_2{
            padding: 20px 0px;
            text-align: center;
            p{
                font-size: $sixe_text_2;
                font-weight: bold;
            }
        }
        &--itemsearch{
            form{
                border: 2px solid $color_back_gr;
                display: flex;
                justify-content: space-between;
                .itemsearch__input{
                    width: 70%;
                    &--item{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        .item__title{
                            width: 30%;
                            p{
                            font-size: $sixe_text_3;  
                            }
                        }
                        .item__input{
                            width: 70%;
                            input{
                                width: 80%;
                                height: 100%;
                            }
                            select{
                                width: 50%;
                                height: 100%;

                            }
                        }
                    }
                }
                .itemsearch__btn{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        font-size: $sixe_text_2;
                        background-color: #747373;
                        padding: 10px 20px;
                    }
                }
            }
        }
        &--itemuser{
            margin-top: 100px;
            border: 2px solid $color_back_gr;
            display: flex;
            flex-direction: column;
            overflow: scroll;
            .itemuser__tile{
                padding: 20px 0px;
                p{
                    font-size: $sixe_text_2;
                    text-align: center;
                }
            }   
            .itemuser__table{
                width: 1400px;
                display: flex;
                flex-direction: column;
                &--tile{
                    display: flex;
                    background-color: $color_back_gr;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    .tile__name{
                        width: 11%;
                        border: 1px solid black;
                        p{
                            padding: 20px 0px;
                            font-size: $sixe_text_4;
                        }
                    }
                }
                &--item{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid black;
                    .item__name{
                        width: 11%;
                        overflow: hidden;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        p{
                            padding: 10px 0px;
                            font-size: $sixe_text_4;
                        }
                        a{
                            text-decoration: none;
                            padding: 10px 0px;
                            color: green;
                            font-size: $sixe_text_4;
                        }
                    }
                }

            }
        }
        &--itempyament{
            margin-top: 100px;
            border: 2px solid $color_back_gr;
            display: flex;
            flex-direction: column;
            overflow: scroll;
            .itempyament__tile{
                padding: 20px 0px;
                p{
                    font-size: $sixe_text_2;
                    text-align: center;
                }
            }
            .itempyament__total{
                display: flex;
                &--text{
                    width: 60%;
                    padding: 20px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-size: $sixe_text_3;
                        padding: 10px 0px;
                        text-align: start;
                    }
                    text__title{
                        width: 70%;
                    }
                    text__item{
                        width: 30%;
                    }
                }
                &--btn{
                    width: 40%;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    .btn__item{
                        a{
                            font-size: $sixe_text_3;
                            padding: 10px 20px;
                            background-color: $color_back_gr;
                        }
                    }
                    
                }
            }   
            .itempyament__table{
                width: 1400px;
                display: flex;
                flex-direction: column;
                &--tile{
                    display: flex;
                    background-color: $color_back_gr;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    .tile__name{
                        width: 12.5%;
                        border: 1px solid black;
                        p{
                            padding: 20px 0px;
                            font-size: $sixe_text_4;
                        }
                    }
                }
                &--item{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid black;
                    .item__name{
                        width: 12.5%;
                        overflow: hidden;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        p{
                            padding: 10px 0px;
                            font-size: $sixe_text_4;
                        }
                        a{
                            text-decoration: none;
                            padding: 10px 0px;
                            color: green;
                            font-size: $sixe_text_4;
                        }
                    }
                }

            }

        }
    }
}