<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./navbar_admin_layout.css">
    <link rel="stylesheet" href="./SC_033.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./navbar_admin_layout.js"></script>
    <title>Navbar</title>
</head>
<body>
    <div class="main">
        <div class="main__navbar">
            <div class="main__navbar--itemlogo">
                <div class="logo__img">
                    <img src="./blank-white-background-xbsfzsltjksfompa.jpg" alt="">
                </div>
                <div class="logo__homelink">
                    <a href="#">
                        Admin name
                    </a>
                </div>
            </div>
            <div class="main__navbar--item">
                <div class="item__linkpage">
                    <a href="">Home</a>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Account management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">
                                test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Financial management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Resident management and payments</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Personnel management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Asset management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Contract management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Complaint management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemtog">
                <div class="itemtog__btn">
                    <p>Repair requests management</p>
                </div>
                <div class="itemtog__linkpage">
                    <div class="itemtog__linkpage--item">
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">test link page togle
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__navbar--itemlogout">
                <div class="itemlogout__btn">
                    <a href="">Logout</a>
                </div>
            </div>
            


        </div>
        <div class="main__responebtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="main__body">
            <div class="main__body--itemtitle_1">
                <p>Apartment management in the United States</p>
            </div>
            <div class="main__body--itemtitle_2">
                <p>Resident management and payments</p>
            </div>
            <div class="main__body--itemsearch">
                <form action="">
                    <div class="itemsearch__input">
                        <div class="itemsearch__input--item">
                            <div class="item__title">
                                <p>Tenant</p>
                            </div>
                            <div class="item__input">
                                <input type="text">
                            </div>
                        </div>
                        <div class="itemsearch__input--item">
                            <div class="item__title">
                                <p>Flor</p>
                            </div>
                            <div class="item__input">
                                <select>
                                    <option value="">flor 1</option>
                                    <option value="">flor 2</option>
                                    <option value="">flor 3</option>
                                    <option value="">flor 4</option>
                                    <option value="">flor 5</option>
                                    <option value="">flor 6</option>
                                    <option value="">flor 7</option>
                                    <option value="">flor 8</option>
                                    <option value="">flor 9</option>
                                </select>
                            </div>
                        </div>
                        <div class="itemsearch__input--item">
                            <div class="item__title">
                                <p>Apartment</p>
                            </div>
                            <div class="item__input">
                                <select>
                                    <option value="">001</option>
                                    <option value="">002</option>
                                </select>
                            </div>
                        </div>
                        <div class="itemsearch__input--item">
                            <div class="item__title">
                                <p>Phone</p>
                            </div>
                            <div class="item__input">
                                <input type="text">
                            </div>
                        </div>
                        <div class="itemsearch__input--item">
                            <div class="item__title">
                                <p>Email</p>
                            </div>
                            <div class="item__input">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="itemsearch__btn">
                       <a href="">Search</a> 
                    </div>
                </form>
            </div>
            <div class="main__body--itemuser">
                <div class="itemuser__tile">
                    <p>User information</p>
                </div>
                <div class="itemuser__table">
                    <div class="itemuser__table--tile">
                        <div class="tile__name">
                            <p>name user</p>
                        </div>
                        <div class="tile__name">
                            <p>Address</p>
                        </div>
                        <div class="tile__name">
                            <p>Email</p>
                        </div>
                        <div class="tile__name">
                            <p>Start day</p>
                        </div>
                        <div class="tile__name">
                            <p>End Day</p>
                        </div>
                        <div class="tile__name">
                            <p>Rntal</p>
                        </div>
                        <div class="tile__name">
                            <p>Pyament method</p>
                        </div>
                        <div class="tile__name">
                            <p>Phone</p>
                        </div>
                        <div class="tile__name">
                            <p>Status</p>
                        </div>
                    </div>
                    <div class="itemuser__table--item">
                        <div class="item__name">
                            <a href="">name user</a>
                        </div>
                        <div class="item__name">
                            <p>Address</p>
                        </div>
                        <div class="item__name">
                            <p>1234567890</p>
                        </div>
                        <div class="item__name">
                            <p>Start dayssss duafghksja safhdouaho jfn </p>
                        </div>
                        <div class="item__name">
                            <p>End Day</p>
                        </div>
                        <div class="item__name">
                            <p>Rntal</p>
                        </div>
                        <div class="item__name">
                            <p>Pyament method</p>
                        </div>
                        <div class="item__name">
                            <p>Phone</p>
                        </div>
                        <div class="item__name">
                            <p>Status</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__body--itempyament">
                <div class="itempyament__tile">
                    <p>Payment information</p>
                </div>
                <div class="itempyament__table">
                    <div class="itempyament__table--tile">
                        <div class="tile__name">
                            <p>name user</p>
                        </div>
                        <div class="tile__name">
                            <p>Payment dateline</p>
                        </div>
                        <div class="tile__name">
                            <p>Status</p>
                        </div>
                        <div class="tile__name">
                            <p>Payment method</p>
                        </div>
                        <div class="tile__name">
                            <p>Serviece</p>
                        </div>
                        <div class="tile__name">
                            <p>total</p>
                        </div>
                        <div class="tile__name">
                            <p>Phone</p>
                        </div>
                        <div class="tile__name">
                            <p>Status</p>
                        </div>
                    </div>
                    <div class="itempyament__table--item">
                        <div class="item__name">
                            <a href="">name user</a>
                        </div>
                        <div class="item__name">
                            <p>Address</p>
                        </div>
                        <div class="item__name">
                            <p>1234567890</p>
                        </div>
                        <div class="item__name">
                            <p>Start dayssss duafghksja safhdouaho jfn </p>
                        </div>
                        <div class="item__name">
                            <p>End Day</p>
                        </div>
                        <div class="item__name">
                            <p>Rntal</p>
                        </div>
                        <div class="item__name">
                            <p>Pyament method</p>
                        </div>
                        <div class="item__name">
                            <p>Status</p>
                        </div>
                    </div>
                </div>
                <div class="itempyament__total">
                    <div class="itempyament__total--text">
                        <div class="text__title">
                            <p>Total amount collected </p>
                            <p>Additional fees </p>
                        </div>
                        <div class="text__item">
                            <p>26.000 USD</p>
                            <p>26.000 USD</p>
                        </div>
                    </div>
                    <div class="itempyament__total--btn">
                        <div class="btn__item">
                            <a href="">Export</a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</body>
</html>