$sizeFont1_ : 30px;
$sizeFont2_ : 25px;
$sizeFont3_ : 20px;
$sizeFont4_ : 15px;
$colorBackgr_: #7473738c;

.main{
    &__body{
        &--itemtitle{
            .itemtitle__item{
                width: 100%;
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                padding: 40px 0px;
                p{
                    font-size: $sizeFont2_;
                }
            }
        }
        &--itemsearch{
            position: relative;
            width: 100%;
            display: flex;
            padding: 20px 30px;
            .itemsearch__input{
                display: flex;
                width: 50%;
                padding: 20px 20px;
                justify-content: space-between;
                align-items: center;
                &--title{
                    width: 30%;
                    p{
                        font-size: $sizeFont3_;
                    }
                }
                &--item{
                    max-width: 80%;
                    width: 70%;
                    input{
                        width: 100%;
                        font-size: $sizeFont4_;
                        padding: 3px 10px;
                        background-color: $colorBackgr_;
                        outline: none;
                        border: 1px solid black;
                    }
                    select{
                        width: 50%;
                        font-size: $sizeFont4_;
                        padding: 3px 5px;
                    }
                }
            }

        }
        &--itemtable{
            position: relative;
            width: 90%;
            margin: 0 auto;
            overflow: scroll;
            .itemtable__title{
                position: sticky;
                top: 0px;
                width: 1800px;
                display: flex;
                &--item{
                    width: 20%;
                    background-color: $colorBackgr_;
                    text-align: center;
                    border: 1px solid black;
                    p{
                        padding: 10px 0px;
                    }
                }
            }
            .itemtable__item{
                position: sticky;
                top: 0px;
                width: 1800px;
                display: flex;
                &--item{
                    width: 20%;
                    background-color: $colorBackgr_;
                    text-align: center;
                    border: 1px solid black;
                    p{
                        padding: 10px 0px;
                    }
                    a{
                        width: auto;
                        position: relative;
                        padding: 10px 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        span{
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0px;
                            height: 1px;
                            background-color: black;
                            transition: all .2s linear;
                        }
                        span:nth-child(1){
                            bottom: 10px;
                        }
                        span:nth-child(2){
                            bottom: 6px;
                        }
                    }
                    a:hover span{
                            width: 100px;
                    }
                }
            }
        }

        
    }
}